.banner {
    /* width:95%; */
    width: 1160px;
    padding: 15px;
    background-color:#2E4E31;
    color:white;
    text-align: center;
    margin: 20px auto 50px auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.header {
    margin: 30px;
}

.buy_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1080px;
    /* width: 1080px; */
    margin: auto;
}

.card{
    width: 250px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 10px 15px 10px;
}

.card_img{
    height: 230px;
    width: 230px;
    margin: auto;
    display: block;
}

.text{
    font-weight: bold;
    margin-top: 18px;
    line-height: 1.0;
}

.text p{
    padding-left: 6px;
}

.askBtn{
    background-color: #B2C3B2;
    border-radius: 5px;
    font-weight: bold;
    transition: .3s ease;
    padding: 5px 50px;
    font-size: 17px;
    margin: 22px auto 2px auto;
    display: block;
}

.askBtn:hover{
    background-color: #668066;
    transition: .3s ease;
}

.outline {
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: black;
}