.banner {
    width:95%;
    padding: 15px;
    background-color:#2E4E31;
    color:white;
    text-align: center;
    margin: 20px auto 50px auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.header {
    margin: 30px;
}

.topic {
    border: 1px solid #2E4E31;
    border-radius: 10px;
    background-color: #B2C3B2;
    padding: 15px 30px;
    margin: 60px;
    font-size: 24px;
    font-weight: bold;
}

.detail {
    margin-left: 100px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    white-space: pre-wrap;
    line-height: 2.5;
}

.caution_imgs{
    margin-top: 30px;
    margin-left: 75px;
}

.caution_img{
    width: 200px;
    height: 200px;
}