.outline{
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.outline::before {
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("../img/BackImg.jpeg");
    opacity: 0.7;
    background-repeat : no-repeat center;
    background-size: cover;
    position:fixed;
    overflow:hidden;

    -webkit-filter: blur(1px); 
    -moz-filter: blur(1px); 
    -o-filter: blur(1px); 
    -ms-filter: blur(1px); 
    filter: blur(1px);
    z-index: -1; 
    content: "";
  }

  .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
  .header {
    margin: 30px;
}

.user_info{
    display: flex;
    align-items: center;
    justify-content: start;
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px #DDDDDD;
    width: 95%;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 18px; 
    background-color: white;
}

.ps{
    margin: 5px 18px;
    line-height: 2;
}

.left{
    width: 45%;
    float: left;
    margin-bottom: 60px;
}

.detail_img{
    margin: 30px auto auto auto;
    box-shadow: 0px 0px 5px 3px #DDDDDD;
    display: block;
    width: 75%;
    height: 75%;
}

.right{
    width: 55%;
    float: right;
    padding-right: 5%;
    margin-bottom: 60px;
}

.buyBtn {
    background-color: #B2C3B2;
    border-radius: 5px;
    border: none;
    width: 90%;
    padding: 20px;
    margin: auto;
    display: block;
    font-size: 18px;
    font-weight: 800;
}

.buyBtn:hover{
    background-color: #668066;
    transition: .3s ease;
}

.visitBtn {
    background-color: #2E4E31;
    border-radius: 5px;
    width: 90%;
    padding: 20px;
    margin: auto;
    display: block;
    font-size: 18px;
    font-weight: 800;
    transition: .3s ease;
    border: none;
}
.visitBtn:hover{
    background-color: #668066;
    transition: .3s ease;
}

.visitBtnWhite {
    color: whitesmoke;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 5px;
}

.price {
    font-size: 28px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 15px;
}

.color_code {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: center;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
